<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>

</head>

<body>
  <% messages.forEach((message)=>{%>
    <p>


      <%=message.message%>
    </p>
    <div>

      <b>

        <%=message.username%>

      </b>
    </div>
    <% }) %>
      <a href="/new">
        <button>New Message</button>
      </a>
</body>
<script>

</script>

</html>
