<form action="/new" method="POST">
<label for="author">author</label>
<input id="author" class="author" name="messageText"  type="text"> <label for="message">message</label> <input id="message"  name="messageUser" class="text" type="text">

<button type="submit">submit</button>
</form>
